{
  "root": true,
  "env": {
    "es2021": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      },
      "node": {
        "extensions": [".js", ".ts"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    "eqeqeq": 2,
    "import/no-unresolved": 2,
    "prefer-regex-literals": 2,
    "import/no-named-as-default-member": 2,
    "import/no-named-as-default": 2,
    "import/extensions": 2,
    "arrow-body-style": 2,
    "no-alert": 2,
    "camelcase": 2,
    "no-console": 2,
    "no-unused-vars": 2,
    "no-param-reassign": 2,
    "no-underscore-dangle": 2,
    "no-restricted-exports": 2,
    "import/prefer-default-export": 2,
    "@typescript-eslint/naming-convention": 2,
    "@typescript-eslint/no-use-before-define": 2,
    "prefer-destructuring": [
      1,
      {
        "object": true,
        "array": false
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "args": "none"
      }
    ],

    // Additional rules for REST API development
    "consistent-return": 2,
    "no-shadow": 2,
    "no-throw-literal": 2,
    "prefer-arrow-callback": 2
  }
}
